/* GENERAL IDENTIFIERS */

header{
    color:blue;
}

body{
    max-width: 1400px;
    font-family: Raleway;
    margin: 0px;
}

footer{
    display:flex;
    justify-content: space-around;
}

h1{
    font-family: Raleway-bold;
    font-size:22px;
    font-weight: bold;
}
quote{
    font-size:16px;
}

button{
    font-size:18px;
    color:white;
    background-color:#0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

li{
    list-style-type: none;

}



/* HEADER */

#banner{
    display: flex;
    justify-content: space-between;
}

#banner_logo{
    width: 61.09px;
    height: 19px;
    margin: 44px 55px;
    border: 3px solid black;
}

#banner_nav{
    border: 3px solid black;
    margin: 0px;
    padding: 0px;

}

#banner_items{
    display:flex;
    padding:0px;
    
}

.banner_item{
    padding-top: 48px;
}

.banner_item:hover{
    border-top: 2px #0065FC solid;
}


/* PANEL_SEARCH */

    /*Search panel */
#search{
    margin:55px;
}
#search_form{
    display: flex;
    justify-content: start;
}

#search_icon{
    width:50px;
    height:49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{
    margin:16px 18px 15px 18px
}

.town_search{
    font-family: Raleway-bold;
    font-size:18px;
}

#button_text{
    margin: 14px 16px;
}

    /* Filters */

#filter{
    display:flex;
    flex-direction: row;
    margin:20px;
    font-family: Raleway-bold;
    font-size:18px;
}

#filter_group_icon{
    display:flex;
    font-size:17px;
    
}

.filter_icon{
    color:#0065FC;
    margin:20px;
    border: 2px grey solid;
    padding: 10px;
    border-radius:20px; 
}

.filter_icon:hover{
    background-color:#DEEBFF;
}

.filter_text{
    color:black;
}

.fa-info{
    padding: 7px 10px;
    margin:11px;
    border: 1px grey solid;
    border-radius: 100%;
}

/* LOCATION */

#location{
    display:flex;
    justify-content: space-between;
}
    /* Hébergement */

.logement_list{
    display:flex;
}

.logement_list_card{
    border:2px solid blue;
    margin:20px;
}

.card_img{
    width: 246px;
    height: 124px;
    object-fit: contain;
}

    /* Popular List */

#popular_title{
    display:flex;
    border:1px red solid;
}

.fa-chart-line{
    margin:25px;
}

.popular_card{
    display:flex;
    border: 1px purple solid;
    margin:20px;
}
.popular_card_img{
    width:137px;
    height:144px;
}

.stars_group{
    color:#0065FC
}


/* ACTIVITIES */

#activities_list{
    display:flex;
    
}
.activities_list_card{
    margin:20px;
}
.activities_list_card_img{
    width:302px;
    height:444.51px;
    border-radius: 20px;
    object-fit: contain;
    border: 1px solid red;
}


/* FOOTER */

.footer_nav{
    display:flex;
    flex-direction:column;
    
}


/* POLICE */

@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Raleway-bold;
    src: url(Raleway-Bold.ttf) format('truetype');
}

/* MEDIA QUERIES */

    /* Tablets */ 

@media screen and (min-width:768px) and (max-width:991px) {
    
    /* GENERAL IDENTIFIERS */
    
    header{
        color:red;
        
    }

    /* HEADER */

    /* PANEL_SEARCH */

    /* LOCATION */

        
        /* Hébergement */
        
        /* Popular List */
    
    /* ACTIVITIES */

    /* FOOTER */


}


    /* Phones */

@media screen and (max-width:767px) {
    
    /* GENERAL IDENTIFIERS */

    header{
        color:yellow;
    }
    
    /* HEADER */
    
    /* PANEL_SEARCH */
    
    /* LOCATION */
        
        /* Hébergement */
    
        .logement_list{
            display: flex;
            flex-direction:column;
        }
    
        /* Popular List */
    
    /* ACTIVITIES */

    /* FOOTER */


}