/* GENERAL IDENTIFIERS */

body{
    max-width: 1400px;
    font-family: Raleway;
    margin: 0%;
}

footer{
    display:flex;
    justify-content: space-around;
    background: #F2F2F2;
    padding-bottom:4%;
    margin-top: 5%;
}

h1{
    font-family: Raleway-bold;
    font-size:22px;
}

h2{
    font-size:18px;
}

h3{
    font-size:16px;
    margin:0%;
}

a{
    text-decoration: none;
    color:black;
}

p{
    font-family: Raleway;
    font-size:14px;
    margin-top:2%;
    
}

input{
    font-family: Raleway-bold;
    font-size:18px;
    height: 150%;
    border: 1px #F2F2F2 solid;
}

quote{
    font-size:16px;
}

button{
    font-size:18px;
    color:white;
    background-color:#0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}

li{
    list-style-type: none;

}

.fa-solid{
    color:#0065FC;
}


/* HEADER */

#banner{
    display: flex;
    justify-content: space-between;
}

#logo{
    margin:0%;
}

#banner_logo{
    width: 61.09px;
    height: 19px;
    margin: 65% 100%;
}

#banner_nav{
    margin: 0% 10%;
    padding: 0%;
}

#banner_items{
    display:flex;
}

.banner_item{
    padding-top: 25%;
    margin:0% 20%;
}

.banner_item:hover{
    border-top: 2px #0065FC solid;
}


/* PANEL_SEARCH */

    /*Search panel */

#search{
    margin:0px 55px;
}

#search_title{
    margin-bottom: 8px;
}

#search_form{
    display: flex;
    justify-content: start;
    margin-top:2%;
}

#search_icon{
    width:50px;
    height:49px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.fa-location-dot{
    margin:16px 18px 15px 18px;
    color: black;
}



#button_text{
    margin: 14px 16px;
}

    /* Filters */

#filter{
    display:flex;
    flex-direction: row;
    font-family: Raleway-bold;
    font-size:18px;
    padding:0px;
}

#filter_text{
    text-align: center;
    border: 1px solid blue;
}

#filter_title{
    height:21px;
    margin-top:46px;

}

#filter_group_icon{
    display:flex;
    font-size:17px;
    margin:0px;
    
}

.filter_icon{
    color:#0065FC;
    margin:31px;
    padding-left: 30px;
    border: 2px grey solid;
    padding: 14px;
    border-radius:25px; 
}

.filter_icon:hover{
    background-color:#DEEBFF;
}

.filter_text{
    color:black;
    margin-left:10px;
}

.fa-info{
    padding: 5px 10px;
    margin:0px 11px 37px 0px;
    border: 1px grey solid;
    border-radius: 100%;
}

/* LOCATION */


#location{
    display:flex;
    align-items: space-between;
}

.the5th{
    color:grey;
}
    /* Logement */

#logement{
    margin:0% 5% 0% 5%;
    background: #F2F2F2;
    border-radius: 20px;
    flex:2;
}

#logement_title{
    margin:42px 0px 23px 40px;
    display:flex;
}

.logement_list{
    display:flex;
    margin:0px 40px;
}

.logement_list_card{
    width:246px;
    height:199px;
    margin:0px 15.5px 30px 0px;
    background: #FFFFFF;
    border-radius: 20px;
    padding:5px;
    box-shadow: grey 1px 1px 5px ;
}

.card_img{
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.card_text{
    margin:4px 10px 11px 16px;
}

#logement_text{
    margin:5% 5%;
}


    /* Popular List */

#popular{
    flex:1;
    background: #F2F2F2;
    border-radius: 20px;
}

#popular_title_box{
    display:flex;
    flex:1;
}

#popular_title{    
    margin: 41px 0px 26px 37px;   
}

.fa-chart-line{
    color:#0065FC;
    width:18px;
    height:15.75px;
    margin:25px;
}

#popular_list{
    display:flex;
    flex-direction: column;
    flex:2;
}

.popular_card{
    display:flex;
    flex-direction: row;
    flex:1;
    border-radius: 20px;
    padding:1%;
    background-color: white;
    margin:5% 10% 5% 10%;
    box-shadow: grey 1px 1px 5px;
}


.popular_card_img{
    display:flex;
    flex:1;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    width:40%;
}

.popular_card_description{
    display: flex;
    flex-direction: column;
    margin: 3% 5%;
    flex:2;
}

.popular_card p {
    margin: 5% 0% 5% 0%;
}


/* ACTIVITIES */

#activities{
    margin:3%;
}

#activities_list{
    display:flex;
    
}

.activities_list_card{
    margin:0% 5% 0% 0%;
    box-shadow: grey 1px 1px 3px;
    border-radius: 5%;
}

.activities_list_card_img{
    width:302px;
    height:444.51px;
    object-fit: cover;
    border-radius: 5% 5% 0% 0%;
}

.activities_list_card h3 {
    margin:5%;
}


/* FOOTER */

.footer_list{

}

.footer_nav{
    display:flex;
    flex-direction:column;
    
}

.footer_nav a{
    margin:2%;
}


/* POLICE */

@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: Raleway-bold;
    src: url(Raleway-Bold.ttf) format('truetype');
}

/* MEDIA QUERIES */

    /* Tablets */ 

@media screen and (min-width:768px) and (max-width:991px) {
    
    /* GENERAL IDENTIFIERS */
    
    header{
        color:red;
        
    }

    /* HEADER */

    /* PANEL_SEARCH */

    /* LOCATION */

        
        /* Hébergement */
        
        /* Popular List */
    
    /* ACTIVITIES */

    /* FOOTER */


}


    /* Phones */

@media screen and (max-width:767px) {
    
    /* GENERAL IDENTIFIERS */


    
    /* HEADER */
    
    /* PANEL_SEARCH */
    
    /* LOCATION */
        
        /* Hébergement */
    
        .logement_list{
            display: flex;
            flex-direction:column;
        }
    
        /* Popular List */
    
    /* ACTIVITIES */

    /* FOOTER */


}